In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

/Users/rishabh/Documents/Documents/Udemy ML Course/venv2/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2024-10-27 20:00:20.449397: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M2 Pro
2024-10-27 20:00:20.449430: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2024-10-27 20:00:20.449448: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2024-10-27 20:00:20.449471: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-10-27 20:00:20.449487: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100

2024-10-27 20:01:14.599697: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - loss: 100835.1562 - mae: 100835.1562 - val_loss: 98485.3047 - val_mae: 98485.3047
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 100632.6484 - mae: 100632.6484 - val_loss: 96772.9219 - val_mae: 96772.9219
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 97805.6250 - mae: 97805.6250 - val_loss: 92449.4922 - val_mae: 92449.4922
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 91590.2891 - mae: 91590.2891 - val_loss: 85299.0781 - val_mae: 85299.0781
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 84191.7891 - mae: 84191.7891 - val_loss: 76299.3047 - val_mae: 76299.3047
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 75447.5000 - mae: 75447.5000 - val_loss: 67176.6484 - val_mae: 67176.6484
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 66339.3516 - mae: 66339.3516 - val_loss: 59615.4414 - val_mae: 59615.4414
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 58715.5625 - mae: 58715.5625 - val_loss: 54516.0312 - val_mae: 54516.0312
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 54391.4648 - mae: 54391.4648 - val_loss: 52015.7734 - val_mae: 52015.7734
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 51663.3320 - mae: 51663.3320 - val_loss: 51004.8047 - val_mae: 51004.8047
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50714.4414 - mae: 50714.4414 - val_loss: 50731.2852 - val_mae: 50731.2852
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50608.5156 - mae: 50608.5156 - val_loss: 50658.7227 - val_mae: 50658.7227
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49910.9141 - mae: 49910.9141 - val_loss: 50634.4961 - val_mae: 50634.4961
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50573.6641 - mae: 50573.6641 - val_loss: 50618.3242 - val_mae: 50618.3242
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50477.3125 - mae: 50477.3125 - val_loss: 50591.9453 - val_mae: 50591.9453
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50020.4375 - mae: 50020.4375 - val_loss: 50550.1836 - val_mae: 50550.1836
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49923.1602 - mae: 49923.1602 - val_loss: 50528.2773 - val_mae: 50528.2773
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49541.5820 - mae: 49541.5820 - val_loss: 50523.4844 - val_mae: 50523.4844
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49825.3828 - mae: 49825.3828 - val_loss: 50501.2070 - val_mae: 50501.2070
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49779.0820 - mae: 49779.0820 - val_loss: 50483.0430 - val_mae: 50483.0430
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50606.6055 - mae: 50606.6055 - val_loss: 50474.8477 - val_mae: 50474.8477
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49974.3594 - mae: 49974.3594 - val_loss: 50450.4141 - val_mae: 50450.4141
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49777.3516 - mae: 49777.3516 - val_loss: 50439.7031 - val_mae: 50439.7031
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49558.9375 - mae: 49558.9375 - val_loss: 50425.9297 - val_mae: 50425.9297
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49770.9258 - mae: 49770.9258 - val_loss: 50427.3359 - val_mae: 50427.3359
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49543.5977 - mae: 49543.5977 - val_loss: 50408.9805 - val_mae: 50408.9805
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49964.2383 - mae: 49964.2383 - val_loss: 50404.1758 - val_mae: 50404.1758
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49614.8164 - mae: 49614.8164 - val_loss: 50393.9727 - val_mae: 50393.9727
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49800.5938 - mae: 49800.5938 - val_loss: 50393.2188 - val_mae: 50393.2188
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50125.1133 - mae: 50125.1133 - val_loss: 50382.0156 - val_mae: 50382.0156
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49780.0781 - mae: 49780.0781 - val_loss: 50379.4570 - val_mae: 50379.4570
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49166.6211 - mae: 49166.6211 - val_loss: 50380.0000 - val_mae: 50380.0000
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49103.3242 - mae: 49103.3242 - val_loss: 50373.1602 - val_mae: 50373.1602
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49474.5039 - mae: 49474.5039 - val_loss: 50375.4844 - val_mae: 50375.4844
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49774.8398 - mae: 49774.8398 - val_loss: 50361.4609 - val_mae: 50361.4609
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49246.3555 - mae: 49246.3555 - val_loss: 50371.5391 - val_mae: 50371.5391
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49636.5000 - mae: 49636.5000 - val_loss: 50361.3477 - val_mae: 50361.3477
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49065.5039 - mae: 49065.5039 - val_loss: 50355.1797 - val_mae: 50355.1797
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49367.2109 - mae: 49367.2109 - val_loss: 50358.2539 - val_mae: 50358.2539
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49604.4922 - mae: 49604.4922 - val_loss: 50358.7461 - val_mae: 50358.7461
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49416.0586 - mae: 49416.0586 - val_loss: 50337.8320 - val_mae: 50337.8320
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49745.5000 - mae: 49745.5000 - val_loss: 50343.7969 - val_mae: 50343.7969
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49630.6484 - mae: 49630.6484 - val_loss: 50337.9648 - val_mae: 50337.9648
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49682.4219 - mae: 49682.4219 - val_loss: 50339.9375 - val_mae: 50339.9375
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 48804.0859 - mae: 48804.0859 - val_loss: 50348.3750 - val_mae: 50348.3750
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49440.0234 - mae: 49440.0234 - val_loss: 50343.5430 - val_mae: 50343.5430
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49499.7969 - mae: 49499.7969 - val_loss: 50333.1211 - val_mae: 50333.1211
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49629.4805 - mae: 49629.4805 - val_loss: 50339.9062 - val_mae: 50339.9062
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49386.9219 - mae: 49386.9219 - val_loss: 50333.0664 - val_mae: 50333.0664
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49348.9023 - mae: 49348.9023 - val_loss: 50323.7227 - val_mae: 50323.7227
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49884.9492 - mae: 49884.9492 - val_loss: 50330.4609 - val_mae: 50330.4609
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49652.3047 - mae: 49652.3047 - val_loss: 50328.0391 - val_mae: 50328.0391
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49285.8633 - mae: 49285.8633 - val_loss: 50341.1016 - val_mae: 50341.1016
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49533.9648 - mae: 49533.9648 - val_loss: 50332.1289 - val_mae: 50332.1289
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49571.3711 - mae: 49571.3711 - val_loss: 50335.8867 - val_mae: 50335.8867
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 48968.2070 - mae: 48968.2070 - val_loss: 50332.1055 - val_mae: 50332.1055
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49696.3203 - mae: 49696.3203 - val_loss: 50339.1680 - val_mae: 50339.1680
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50068.0117 - mae: 50068.0117 - val_loss: 50344.3672 - val_mae: 50344.3672
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49530.3750 - mae: 49530.3750 - val_loss: 50349.0859 - val_mae: 50349.0859
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49329.8008 - mae: 49329.8008 - val_loss: 50344.2070 - val_mae: 50344.2070

In [17]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit/20241027-200046

Reusing TensorBoard on port 6015 (pid 93093), started 0:00:07 ago. (Use '!kill 93093' to kill it.)

In [20]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51096.7070 - mae: 51096.7070
Test MAE : 50323.72265625

In [21]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.